[2014-01-13 15:20] sheerun opened #3 "Raise error instead of returning 0.0 if wrong string"
Currently it is hard to tell if given string represents $0, some price, or is actually wrong currency string (use case: any type of validation / fuzzy matching).

[code]

Maybe introduce `parse!` method with very strict, white-listed algorithm?

[2014-01-13 18:24] #3 closed, assigned to nobody

[2014-04-11 16:39] daniel-levin opened #8 "Arbitrary symbol detection"
I have started implementing the detection of arbitrary currencies. So far, it seems to work and hasn't broken any original tests:
https://github.com/daniel-levin/monetize/commits/other-currencies

Since I don't own this project, there are a few things I want to discuss (with my initial thoughts):
- What is the best way to access a dictionary of currencies and their symbols?
  - It would probably b

[2014-04-13 22:29] #8 closed, assigned to nobody

[2014-04-19 22:09] allolex opened #12 "Test setup for currency symbol detection not doing what is expected"
Looking at https://github.com/RubyMoney/monetize/blob/master/spec/monetize_spec.rb#L33-L35, these lines store the current default currency, set a new one, and then immediately restore the original.

I noticed this because some of the tests in the same group _appear_ to be failing arbitrarily in the refactoring work I am doing in regards to #11

I'm guessing you want something more like

[code]

[2014-04-20 18:36] #12 closed, assigned to nobody

[2014-05-20 13:03] tommeier opened #17 "[Question] Dependency on `money` gem"
Hi,

Just wondering why the gemspec dependency for `money` is only on development?

If `monetize` includes `require 'money'` then shouldn't that be a dependency on the gem, even loosely with no version number?

Including `monetize` i'd assume `money` is included too?

[2014-05-20 13:04] #17 closed, assigned to nobody

[2014-07-01 13:29] RKushnir opened #18 "Inconsistent raising in `parse`"
If I try to parse some nonsense, it returns 0. But if I give it `1-1`, it raises an error:

[code]

I think, it should either always return 0 for invalid strings, or (better) always raise.

[2014-09-08 20:51] resistorsoftware opened #21 "Trouble with command-line use"
Trying to play with the gem but my shell barks an error...

gem install monetize
Successfully installed monetize-0.4.0
Parsing documentation for monetize-0.4.0
Installing ri documentation for monetize-0.4.0
Done installing documentation for monetize after 0 seconds
1 gem installed
16:48 ~/Documents/workspace/ (master) m$ pry
[1] pry(main)> require 'monetize'
NameError: uninitialized constant Class

[2014-09-08 23:17] #21 closed, assigned to nobody

[2014-09-26 10:38] ajohnstone opened #22 "assume_from_symbol incorrect"
[code]

[code]

[code]

invalid usd output.

[code]

if with a possitive currency this is correct...

[code]

[2014-10-06 11:13] #18 closed, assigned to nobody

[2014-10-06 11:13] #22 closed, assigned to nobody

[2014-11-02 01:57] krainboltgreene opened #26 "Why singleton methods?"
Seems like it would be easier to maintain/improve if you used Ruby's built in constructor:

[code]

[2014-11-03 13:45] #26 closed, assigned to nobody

[2014-12-14 02:53] muuuub opened #28 "A way to keep infinite precision when parsing string?"
I have some varying dollar amounts:

`$10.12`
`$10.123`
`$10.1234`
`$10.12345`

 and so on..

Doing `Monetize.parse("10.123")` returns `10.12`. It drops anything beyond two decimal places.

Is there a way to preserve the precision of the original string?

[2014-12-24 06:29] #28 closed, assigned to nobody

[2014-12-28 09:03] awagener opened #33 "Extract Cents refactor"
Hey, I've been playing around with refactoring the `extract_cents` method.  I've still got some work to do (although it should still work and match the same API), but I thought you might want to see it before I spring it on you all at once.  It's certainly got some problems, but I'm hoping it ends up somewhere good.

You can see my changes at https://github.com/awagener/monetize/compare/refactor_e

[2015-01-08 16:28] bensheldon opened #35 "Parsing Lists and Ranges"
Would you be open to accepting a PR for parsing lists of values or ranges?

The API I'm thinking of would be something like this:

[code]

which would always return an instance of something like `Monetize::Multiple` which would be an enumerable (having first, last, each, etc) containing Money objects. It would additionally have methods of

[code]

for reporting whether the parsed string was a rang

[2015-01-08 16:59] semmons99 commented on #35
I'd love a PR like this. I'd name the method `Monetize.parse_range` to be more explicit. Also, how would it iterate, unit or subunit? Would it just be configurable?

[2015-01-08 17:33] bensheldon commented on #35
My preference would be to have a single method of `Monetize.parse_multiple` rather than separate `parse_range` and `parse_list` methods. My use case is transforming random values collected from the internet, so I don't really know ahead of time whether I'm parsing a single value ($10), a range ($10 - $15) or multiple values (£8/10€/$12).

In my simple/naive implementation, I preserve the order of

[2015-01-08 17:36] bensheldon commented on #35
Oh, I realized now you were asking about range in regards to being something like `($10...$15).each { |value| }`. I haven't really thought of that at all. I was only thinking of purely parsing a string with multiple values into a collection of Money objects.

[2015-01-08 19:17] semmons99 commented on #35
Is you idea of parsing `$100 - $200` when doing an each would just return `$100` and `$200`, not everything in that range?

[2015-01-08 20:19] bensheldon commented on #35
Yes. My need is the ability parse a string with multiple values into a collection of Money objects, than creating a new kind of Money object with Range-like semantics.

So in thinking about it more, maybe it would be clearer to call the object `Monetize::Collection` and `Monetize.parse_collection('8£/10€/$12')` so it's clear that it operates more like an Array than a Range.

[2015-01-08 20:36] semmons99 commented on #35
That's a much stronger abstraction.

[2015-01-14 08:49] awagener commented on #33
Have not forgotten this! Been a crazy holiday/summer few weeks here (Southern Hemisphere). I'll try and finish it off next week.

[2015-01-20 16:35] urbanautomaton opened #37 "Readme.md usage confusingly ordered"
Hi,

The Usage section of the readme shows as its first example:

[code]

However these examples only work as shown if `Monetize.assume_from_symbol = true` has previously been set. Without it, they all equal `Money.new(100_00, "USD")`, with the currency only being picked up if it's specified as an ISO code:

[code]

This is a bit confusing, since the `assume_from_symbol` option defaults to nil, is

[2015-01-20 17:12] semmons99 commented on #37
Mind updating the README then?

[2015-01-20 17:12] #37 closed

[2015-01-20 17:38] urbanautomaton commented on #37
Not at all, just wanted to be sure this was actually the intended behaviour. PR to follow.

[2015-03-10 13:02] mmustala opened #41 "JPY and USD are parsed in a different way"
Is this expected behavior?

[code]

Parsing the same amount in USD and JPY gives a different result. I would have expected also JPY amount to be 1033 in cents.

Using
money 6.5.1
monetize 1.1.0

[2015-03-10 13:18] mmustala commented on #41
It might be because of these currency configurations in the money gem. According to the Wikipedia http://en.wikipedia.org/wiki/Japanese_yen JPY has  a subunit "sen". Should these configurations be updated? It would change the behavior for the users who might have been used to the current way how the parsing works.
[code]

[2015-03-10 17:45] semmons99 commented on #41
JPY doesn't have a subunit, so without infinite precision, you lose the .33

[2015-03-10 17:45] #41 closed

[2015-03-10 19:33] mmustala commented on #41
Ok.
I also noticed that my use of the resulting Money object was not good in this kind of situation where the currency has no subunit. I used `Monetize(amount.to_s.upcase, currency).cents / 100.0` to get the amount as float. Now I changed this to simply use `to_f` for the returned Money object.

[2015-03-10 19:41] semmons99 commented on #41
If you use the `:YEN` backwards compatible currency, you can have Sen even though it's not used anymore. The other option is to enable infinite precision. Be wary of using `to_f` The whole point of the money gem is to avoid all the pitfalls of floats.

[2015-04-20 15:19] davidsklar opened #44 "NameError: uninitialized constant Monetize::Collection::Forwardable"
After `gem install monetize`, a `require 'monetize'` gives me:

[code]

This looks to be a similar situation as, e.g. https://github.com/resque/resque/issues/1128

If I do `require 'forwardable'` before I require monetize, then it works fine.

So perhaps change (as is suggested in the resque comment) "extend Forwardable" to "extend ::Forwardable" ?

If it matters, this is with monetize 1.2.0 and r

[2015-04-20 17:23] semmons99 commented on #44
could you submit a patch?

[2015-04-30 00:37] langtianlang opened #47 "Parsing nils and empty string"
Currently nil and empty string returns a Money with value 0 in the default currency.

[code]

Is this the expected behavior?
From a client perspective, it seems like returning a nil return would make more sense since $0 is a legitimate value and shouldn't be used as the default for error cases.

[2015-04-30 05:11] semmons99 commented on #47
Yes, this is monetizes use case (be more liberal). The money gem itself would not accept these types of values.

[2015-04-30 05:49] ct-clearhaus commented on #47
I am to blame; cf. https://github.com/RubyMoney/monetize/pull/42/files

However, I ensured that monetize follows money, namely `Money.new(nil) == nil.to_money`.

[2015-04-30 13:49] #44 closed

[2015-04-30 16:25] bensheldon commented on #47
I appreciate that Monetize's contract is "Return a valid Money object or raise an ArgumentError". In normal usage, I do guard against nil/empty values, but I consider that the responsibility of my application because I may want to hand nil, empty or business-domain-specific-invalid in different ways depending on the application.

I think Monetize _could_ be much more configurable in regards to hav

[2015-04-30 18:29] langtianlang commented on #47
@bensheldon +1 to making the unparseable configurable.

Some what related to this, for my use case, there might be currencies I'm trying to parse that are not recognized by Monetize. It would be great if there's a way to throw an exception when it sees unknown currency types rather than just use the default currency.

@ct-clearhaus Another funky thing I noticed with nils in Money
[code]

[2015-04-30 19:39] semmons99 commented on #47
Sounds to me like you should use just the money gem and handle parsing in your application. 

- shane

On Thu, Apr 30, 2015 at 2:29 PM, Langtian Lang <notifications@github.com>
wrote:

[2015-05-18 21:14] duderonomy commented on #44
When using the default gem specifier in my Gemfile, the lock file looked like this:
[code]

I saw this error:

[code]

Then, after removing:
[code]

After inserting the github specifier for monetize:
`gem "monetize", :github => "RubyMoney/monetize"`

And after running bundle install, my Gemfile.lock looked like this:
[code]

When trying to use it:
[code]

[2015-05-18 21:18] semmons99 commented on #44
Pretty sure we fixed this in master. Just need to release. I'll do it later tonight. 

- shane

On Mon, May 18, 2015 at 5:14 PM, duderonomy <notifications@github.com>
wrote:

[2015-05-18 21:55] duderonomy commented on #44
Hey thanks very much for your prompt response!

Perhaps I can get some validation from you about my usage of tools such as
github and bundler.

When I used the github option in bundler, didn't I pull the change you
speak of, from master branch?
I was trying to report that this change did yielded another error on ruby
2.2.2.
I should try 2.1 or 1.9 :)

Please let me know if I am misguided in my obs

[2015-05-18 22:42] semmons99 commented on #44
You're right. Let me know if you solve it. I'll hold off on a release. 

- shane

On Mon, May 18, 2015 at 5:55 PM, duderonomy <notifications@github.com>
wrote:

[2015-05-19 00:42] duderonomy commented on #44
Issue #44 is confusing.
[code]

[2015-07-20 23:20] DanielRuskin1 opened #50 "Unexpected Behavior for Hypen Input"
I've noticed some unexpected behavior with hyphen input in version 1.1.0.

[code]

I think this is happening because the gem is interpreting the first hyphen as a negative indicator - but the second hyphen as an invalid character (see https://github.com/RubyMoney/monetize/blob/master/lib/monetize.rb#L98).  Considering that other special characters generate a zero amount (e.g. `"$|}{&*#(*".to_money

[2015-07-21 12:30] semmons99 commented on #50
Feel free to submit a PR to address this, but it's one reason I always encourage people to create their own parser instead of using monetize.

[2015-07-21 14:32] DanielRuskin1 commented on #50
Makes sense, thanks @semmons99.

Do you know what purpose the hyphen check (https://github.com/RubyMoney/monetize/blob/master/lib/monetize.rb#L104) is currently serving?  It seems like just rescuing that error on https://github.com/RubyMoney/monetize/blob/master/lib/monetize.rb#L49 and returning zero should help, happy to open a PR with tests if you agree.

[2015-07-21 15:32] semmons99 commented on #50
I honestly don't remember, it's probably historically from inside the money gem before it was ripped out. Unfortunately we can't really remove it without affecting existing users.

[2015-07-21 19:48] DanielRuskin1 commented on #50
Hm - do you think we can just rescue and return 0?

[2015-07-21 23:18] semmons99 commented on #50
People have been expecting an error for years now. Is there a big upside to changing this functionality for everyone?

[2015-07-21 23:26] DanielRuskin1 commented on #50
I guess the primary goal would be to make the error handling more
consistent.  Pretty much all other malformed input cases result in a 0
money amount.

Maybe remove this in a new release?
On Jul 21, 2015 7:18 PM, "Shane Emmons" <notifications@github.com> wrote:

[2015-07-21 23:50] semmons99 commented on #50
I’m okay removing it an bumping the major version, if everything else is made consistent with it.

On Tue, Jul 21, 2015 at 7:26 PM, Daniel Ruskin <notifications@github.com>
wrote:

[2015-07-22 01:06] DanielRuskin1 commented on #50
Cool.  I'll make that change when I have some extra time.

Thanks for the responsiveness here.

[2015-08-04 07:28] ct-clearhaus commented on #50
Would similar behaviour to 'String#to_i' be expected by most people?
[code]

[2015-08-04 11:32] DanielRuskin1 commented on #50
That's what I would expect.

I haven't gotten around to opening a pull request for this yet,
unfortunately - hoping to make the change soon.
On Aug 4, 2015 3:28 AM, "Casper Thomsen" <notifications@github.com> wrote:

[2015-08-15 12:12] 23tux opened #51 "Stricter parse method"
Hi,

would it be possible, to include a method `Monetize("12.34$")` that raises an error, when non parsable values are passed? I like this behaviour from the Ruby core, when you try to use

[code]

Sometimes I want to raise a validation error in my API, when the user submits nonsense. It's very confusing when nonsense is parsed to `0.0` ;)

This behaviour can be seen at some core types like `Float

[2015-08-16 02:52] semmons99 commented on #51
I'd accept a mode that allows this to toggle.

[2015-08-16 02:52] #51 closed

[2015-08-21 09:30] Carpela opened #52 "Seems to be incompatible with the money-rails gem"
If I install both this and money rails

    Monetize.parse_collection

and

    Monetize.parse
No longer function

I can get an equivalent tothe latter with .to_money but can't seem to find a replacement for parse_collection for dealing with ranges.

[2015-08-28 16:03] vemv-kantox opened #53 "What broke with v1.0.0?"
Hi,

our Gemfile.lock entry for monetize is locked at 0.4.1, and it's not apparent to know what broke with the 1.0.0 release. Commit doesn't give the info https://github.com/RubyMoney/monetize/commit/8df488b9f269bfb5f28fbc4090a3b417a13d8054 and there's no entry in the changelog either!

Please clarify.

Thanks much!

Victor

[2015-09-01 20:27] paulbaumgart opened #54 "Money.infinite_precision = true not supported by Monetize.extract_cents"
When <code>Money.infinite_precision = true</code>, I would **expect**:

    Monetize.extract_cents '1.234'
    => 123.4

Instead, I get:

    Monetize.extract_cents '1.234'
    => 123

(This also applies to <code>'1.234'.to_money</code>, which calls <code>Monetize.extract_cents</code> AFAICT.)

[2015-09-02 17:44] #54 closed

[2015-09-03 08:20] bertBruynooghe opened #57 "String#to_money parsing issue"
when parsing ```1.234``` with a currency that has ```,``` as decimal_mark and ```.```  as thousands_separator, the currency settings are ignored, and ```.``` is considered to be the decimail_mark.

I patched the code locally in my rails project:

    module Monetize
      class << self
        def extract_cents_with_decimals_addition(input, currency = Money.default_currency)
          decimal_mark

[2015-09-03 22:43] aredondo commented on #57
In some corner cases, Monetize tries estimate the correct decimal separator itself rather than blindly trusting the separators set in the currency.

Modifying this behaviour breaks a number of test cases in the gem, so without resorting to a major version change, I think this can only be fixed with a configuration variable.

[2015-09-03 22:46] aredondo commented on #57
Can you please check if this change resolves the issue for you? Before parsing, you need to set `Monetize.enforce_currency_delimiters = true`.

[2015-09-04 06:38] bertBruynooghe commented on #57
```undefined method `enforce_currency_delimiters=' for Monetize:Module (NoMethodError)```
on monetize (1.1.0)

[2015-09-04 11:00] aredondo commented on #57
It seems you didn't apply the change in your code. Can you clone my fork? It's at https://github.com/aredondo/monetize.git. If you are using Bundler, the `github: 'aredondo/monetize'` modifier should work.

[2015-09-10 19:11] aredondo commented on #57
@semmons99 There is no feedback on this issue. I still find the configuration option interesting, as the default behavior may be somewhat surprising for some currencies. What do you think of merging the change and closing this?

[2015-09-10 23:35] semmons99 commented on #57
I'm good with it. Is there a Pull Request open? I may have missed it.

[2015-09-11 00:19] #57 closed

[2015-09-13 04:08] takiy33 commented on #35
I close this issue because https://github.com/RubyMoney/monetize/pull/36 is merged.

[2015-09-23 06:13] bertBruynooghe commented on #57
Couldn't test this yet due to the context of my problem: needing money-rails in my project, and couldn't get dependencies right.
But from inspecting the code, it looks like it could solve my particular issue.
It is however discussable that if only one separator is present without ```always_enforce_currency_delimiters``` being set, the separator is considered as decimal mark (like in the example ab

[2015-09-23 09:51] aredondo commented on #57
If what you mean is that, by default, Monetize should work as if `always_enforce_currency_delimiters` was enabled, I agree. But this sort of change in default behavior can maybe fit better in major version changes. Hence the configuration flag.

[2015-09-23 15:30] bertBruynooghe commented on #57
I agree with the configuration flag, but I'm just saying it is not solving all problems. Sometimes you want for obvious cases the delimiters to be derived from the string, but in this case, you still have an issue when someone puts in 7,000 or 7.000, as it is not to be derived from the string itself if the dot/column have to be considered as decimal mark or thousands separator. (Currently it assum

[2015-10-19 13:36] semmons99 commented on #53
You'll need to compare (or run a diff). Hopefully nothing broke.

[2015-10-19 13:36] #53 closed

[2015-10-19 13:36] semmons99 commented on #52
Please submit a PR.

[2015-10-19 13:36] #52 closed

[2015-10-19 13:37] #50 closed

[2015-10-19 13:37] #47 closed

[2015-10-19 13:37] #35 closed

[2015-10-19 13:37] #33 closed

[2015-10-22 17:34] dataBaseError opened #60 "Unexpected parsing for exponential values"
When trying to parse a dollar amount with an exponent value the exponent value is ignored.

[code]
Results in `13.0`. Rather than `1000.0`.

[2015-10-24 05:46] semmons99 commented on #60
This is not something monetize recognizes currently. You're welcome to submit a PR.

[2015-10-24 05:46] #60 closed

[2015-12-21 23:06] route opened #61 "Is that intentional?"
[code]

[2015-12-21 23:16] semmons99 commented on #61
.parse is only so smart. If you want that to work, please submit a PR or write your own internal parsing function.

- shane

[2015-12-21 23:18] route commented on #61
Thanks! I'll try to improve a little

[2016-01-07 13:41] HaleTom commented on #28
It doesn't seem to work for me either:
[code]
Output:
[code]

[2016-01-10 09:24] HaleTom commented on #28
Given the previous comment indicates this is still an issue, can someone please re-open it?

[2016-01-15 14:28] #61 closed

[2016-01-16 15:18] HaleTom opened #62 "Issue 28 being ignored?"
This is a meta issue.

Comments on Issue #28 seem to be getting ignored.

If this is intentional - cool, can someone just say why?

[2016-01-16 15:49] semmons99 commented on #62
We have a policy that if no one is working the issue it is closed. If you want to work on it, create a new pull request.

- shane

[2016-06-04 11:11] antstorm commented on #62
@HaleTom ruby 2.3 with `monetize` @ `master`:

[code]

It does seem to loose a bit of precision there, but nothing dramatic. The code was copied from your post in #28 directly into the console.

[2016-06-04 11:25] antstorm commented on #62
Checked against all the local rubies I had installed — `2.3.0`, `2.2.2`, `2.1.5`, `2.0.0-p648`, `1.9.3-p551`. Same output up to 15 digits after the `.`.

[2016-06-09 13:20] HaleTom commented on #62
This sounds like an insidious bug if it's pretending to be infinite precision but actually losing precision.

I worked in a bank, and this makes me cringe.

Sadly, I don't have time to put into looking at this right now.

[2016-06-12 15:38] antstorm commented on #62
@HaleTom managed to get to the bottom of this. It's not an issue with `money` or `monetize`. There's a fault in your example:

[code]

Because you've used `Float` in your example, you just lost 2 digits of precision from the very beginning. Also it's worth noting `BigDecimal` should be used for precise calculations instead of `Float`. Here's why (`value` comes from the previous code block):

[code

[2016-06-12 15:40] antstorm commented on #62
#68 fixes an issue with passing `Monetize.parse` a `BigDecimal` input.

Btw, by the looks of it `.parse` wasn't meant for any non-String input, which is also why it wasn't tested for it.

[2016-06-15 05:20] HaleTom commented on #28
Fixed by #68

[2016-06-15 05:21] HaleTom commented on #62
Thanks @antstorm

[2016-06-15 05:21] #62 closed

[2016-06-21 21:39] umate opened #69 "Make :assume_from_symbol true by default"
Parsing currency symbols should be enabled by default. I missed that in the beginning, tested on USD and now having issues with wrong data in the DB.

What was the intense to make that `false` by default?

[2016-06-21 22:04] antstorm commented on #69
I'm not sure what was the intent, but it was `false` from the very introduction of that feature. I guess it's based on the fact that all the symbols are listed explicitly, duplicating behaviour of `money` gem a bit.

I think it makes sense to get rid of this option and do both ISO code and symbol parsing. And also rely on `money` gem as the source for different possible symbols.

[2016-06-21 23:28] umate commented on #69
@antstorm make more sense to rely on money gem and pull all iso currencies code, symbols from there.

[2016-06-22 10:02] ct-clearhaus commented on #69
(Ref. https://github.com/RubyMoney/monetize/pull/71#issuecomment-227686374)

I really don't know. Possibly the following is purely hypothetical:

In that case, the application should really sanitize the user input, but I guess that's what Monetize is trying to do for you automagically. With `assume_from_symbol` by default, this wouldn't be as expected by the "me" above; it might be "least surprise

[2016-06-23 19:20] antstorm commented on #69
@ct-clearhaus yeah, you're right. Although it seems that parsing strings like "symbol/iso_code amount" shouldn't be that hard… I'll take a closer look at how this can be implemented.

[2016-07-01 17:22] smudge opened #74 "Option to swallow exceptions"
From what I can tell, there are two exceptions that `.parse` (and `#to_money`) might throw when passed a string value:

[code]

[code]

The problem is that for 99.99% of all other possible inputs, this gem will sanitize/normalize the value and return something, no matter how nonsensical. (A couple of my favorites: `3:00pm` => `$300`, `1/21/1989` => `$1,211,989`.) I honestly see this behavior as a

[2016-07-02 21:17] antstorm commented on #74
@smudge very good point indeed! Couple of thoughts on this:

1. All the errors thrown while parsing input should subclasses of `Monetize::ParseError`, making it a matter of rescuing this one class when needed.
2. Sometimes you just want `nil` back, absolutely true. I'm thinking `parse` & `parse!` in the spirit of Rails' persistence methods. The only thing I'm a bit worried here is changing the API

[2016-07-05 16:02] smudge commented on #74
I like the idea of `parse` and `parse!`. The `money-rails` gem has an optional `raise_error_on_money_parsing` config which would need some adjustments, so I'd recommend bumping the 'minor' version number in case anyone was relying on that behavior.

[2016-07-25 22:54] antstorm commented on #74
@smudge #75 will allow for better rescuing from errors. This is a pre-cursor to `parse!`.

[2016-08-10 02:30] smudge commented on #74
Just created #78 as a follow-up PR. But I think you've basically addressed this issue (aside from maybe a minor version bump, or however you want to handle that). Gonna close this issue now. Thanks!

[2016-08-10 02:30] #74 closed

[2016-08-10 09:40] antstorm commented on #74
Yeah, it needs a version bump along with `money-rails` update. Will handle that.

[2016-11-25 09:11] inopinatus opened #82 "Accounting negative isn't recognized"
surely (but not currently):

`Monetize.parse("$(516.90)") == Money.new(-51690, "USD") # => true`

[2016-11-25 09:29] ct-clearhaus commented on #82
Using money 6.1.1 and monetize 0.3.0 I get
[code]

[2016-11-25 09:30] inopinatus commented on #82
yes I mean it should be true, but it isn't. seems monetize doesn't recognize the bookkeeping-style negative.

[2016-11-25 10:31] antstorm commented on #82
@inopinatus sounds like a good PR opportunity ;)

[2016-12-16 11:55] esergion commented on #69
I think that this is not a good idea, at least for now, coz we first need some kind of workaround for this case (for example):
[code]

[2016-12-19 10:42] antstorm commented on #69
@esergion oh, wow, didn't know of this one. Will have a look!

[2016-12-20 14:22] NGMarmaduke opened #83 "Release plan"
Are there any plans to make a release with the latest master changes?

[2016-12-25 17:53] chrisjeon opened #84 "Ruby 2.4.0 FixNum is deprecated warning"
I'm using the money-rails gem https://github.com/RubyMoney/money-rails

and after upgrading to ruby 2.4.0, I'm getting this deprecation warning when running tests.

`/Users/chrisjeon/.rvm/gems/ruby-2.4.0/gems/monetize-1.4.0/lib/monetize.rb:87: warning: constant ::Fixnum is deprecated             ] 47% Time: 00:00:30,  ETA: 00:00:34`

Screenshot attached.

![screen shot 2016-12-25 at 12 52 26 pm](h

[2016-12-26 09:36] antstorm commented on #84
@chrisjeon good spot, thanks! Started work on ruby 2.4.0 support — #85

[2016-12-28 17:20] antstorm commented on #83
@NGMarmaduke yes, I will release these

[2016-12-28 17:33] antstorm commented on #83
It's out now — version 1.5.0

[2016-12-28 17:33] #83 closed

[2016-12-28 17:46] antstorm commented on #84
#87

[2016-12-28 17:46] #84 closed

[2017-01-11 18:04] vemv opened #91 "Custom delimiters/separators ignored"
The following screenshot should be self-explanatory of the problem:

![image](https://cloud.githubusercontent.com/assets/1162994/21860408/b7aaf6ba-d830-11e6-8058-be44d4272ac5.png)

I'd say that

* MoneyRails configuration options are entirely ignored by this gem; and
* Current implementation is not made to handle user-specified delimiters/separators

What do you think?

Cheers - Victor

[2017-01-11 18:31] antstorm commented on #91
@vemv this gem was born as an internal dependency of `money-rails` and later on extracted into a separate gem. Also `monetize` was made to be sort of option-less, but it might be worth specifying these to avoid confusion.

[2017-01-11 19:34] vemv commented on #91
You'll agree that it's nearly impossible to have a _correct_ optionless currency lib...

I guess the current implementation works fine under a few assumptions that cover 90% of the cases. But one may want 100% complete/reliable code when it comes to money!

Would a large-ish PR be welcome?

* Observe `MoneyRails` settings if available
* Accept and correctly implement delimiters/separators

I assum

[2017-01-13 11:20] antstorm commented on #91
@vemv yeah, makes sense, but:

- `monetize` should not depend on `money-rails`, so I would say it's up to `money-rails` (which does depend on `monetize`) to pass options down to `monetize` which it should respect
- `default_format` should not affect parsing and there should be a separate set of settings for that

So it looks like 2 separate changes:

1. Make `Monetise#parse` accept settings and ha

[2017-01-13 11:43] vemv commented on #91
Hey there! Interesting, thanks for the reply.

I don't particularly agree, as I cannot imagine business cases where `delimiter` and `parse_delimiter` would be different. That said, adding these two extra options to one's money.rb initializer is so little work, that this is not worth discussing much about.

One upside of having the `delimiter`/`parse_delimiter` distinction is that Monetize would av

[2017-01-13 18:29] antstorm commented on #91
1. I think it's quite common to be able to accept any input (which is how it works right now), but ensure that the output is consistent. The reason I think it might be a good idea to separate these is that you don't want your format (output) options to affect your input. And this is why I'm not sure if coupling these two things together is a good idea.

`MoneyRails` uses `Monetize` quite a lot whe

[2017-01-13 18:33] vemv commented on #91
Agree with both points, thanks for the explanations

Turns out that for my use case, finally the issue is quite tolerable (because we handle it smartly) so it's not prioritary for me.

Feel free to close (if I had all the time in the world I'd defo open a PR!)

Cheers - Victor

[2017-01-13 18:41] antstorm commented on #91
Oh, cool, happy that you've resolved this. Can you please share some details on how you were able to handle it? Might be helpful for others.

Overall I do think that there needs to be a way of customising `Monetize.parse` and you've given a very good example.

[2017-03-05 22:12] januszm opened #93 "Add gem money as dependency"
Looks like this gem requires gem money to work

[code]

Why don't we add 'money' to runtime dependencies?

[2017-03-05 23:36] antstorm commented on #93
@januszm but it is listed as gem's dependency (from `monetize.gemspec`):

[code]

How did you install it?

[2017-03-05 23:37] januszm commented on #93
That's weir. I added it as `gem 'monetize'` entry in `Gemfile` in Rails application

[2017-03-06 08:29] antstorm commented on #93
Can you please remove it from the Gemfile, re-bundle the gems and paste here `monetize` dependencies from your `Gemfile.lock`?

[2017-04-03 20:15] JanBussieck commented on #91
Hi, I, too, came up against this issue recently. I was frankly surprised that the specified delimiters have no import in how a value is parsed. I could try my hand at a PR for the behavior described above i.e. adding a `parse_delimiter` option.

[2017-04-04 06:48] antstorm commented on #91
@JanBussieck sounds great! Keep in mind that this should be locale-dependent (not currency-dependent). Happy to assist further if you have any questions.

[2017-04-04 07:54] JanBussieck commented on #91
Great, thanks for your prompt response and the pointer!

[2017-04-04 12:04] dilumn opened #96 "Add LKR as the currency & got the wrong unicode as the symbol"
Hi, I'm from Sri Lanka & our currency is LKR. So I pass LKR like this,

`Monetize.parse([amount, "LKR" ].join)`

But I'm getting is `444.00&nbsp;&#x0BF9;` which is `444.00 ௹`. LKR should display like `Rs 444.00`

How can I fix this issue??

[2017-04-04 13:39] antstorm commented on #96
I don't think this issue is related to `monetize`, Here's the output that I'm getting:

<img width="335" alt="screenshot 2017-04-04 14 38 36" src="https://cloud.githubusercontent.com/assets/118353/24659399/7d3b881e-1944-11e7-9c05-89b9399ed591.png">

[2017-04-04 18:42] dilumn commented on #96
Created a pull request to fix the `html_entity` symbol issue.

[2017-04-04 18:42] #96 closed

[2017-05-17 08:49] mpoulsen opened #97 "Parsing number with 3 minors"
When the currency.decimal_mark doesn't match the used decimal mark strange results occurs.

EUR's decimal_mark is ',' so everything works fine:
[code]

USD's decimal_mark is '.' so parsing '1,000' is a problem:

[code]

It happens here: https://github.com/RubyMoney/monetize/blob/master/lib/monetize.rb#L203

I also seems strange to at all look at the currencies decimal_mark. This should depend on t

[2017-05-22 21:17] antstorm commented on #97
@mpoulsen yeah, looks like it's looking for 3 digits after `,` (thousands separator), that's why only `1,000` gets parsed correctly. I agree this is confusing and should be based on the locale instead. Happy to accept a PR with this change.

[2017-10-01 02:55] lilith opened #105 "Circular require?"
warning: loading in progress, circular require considered harmful - /home/n/.rvm/gems/ruby-2.4.1/gems/monetize-1.7.0/lib/monetize.rb

[code]

[2017-10-01 10:10] antstorm commented on #105
@nathanaeljones this is quite odd since `lib/collection.rb` only requires `forwardable`. I don't see any circular references here. Can you please post a sample of the code you're calling this from?

[2017-10-03 20:41] yez commented on #97
@mpoulsen , @antstorm I'm interested in fixing this. What is the desired outcome of `Monetize.extract_cents('1,000')`? Should it return `100` since it does not specify cents at all or should it convert `$1,000` to `100,000 cents`?

[2017-10-04 14:39] antstorm commented on #97
@yez great! I think during the parsing process we can just strip out thousands separators from the input. I think the problem is in trying to figure what is a decimal mark and what is a thousands separator based on the input.

I'm also not sure whether the current "let's parse any input" approach is the right way to go. For me it makes sense to make developers choose between strict and flexible pa

[2017-10-04 14:47] yez commented on #97
I agree that having it be flexible would be best. However, it seems that if we try to just strip out the thousands place delimiter we will have the same problem as demonstrated above (since some currencies use `,` and others use `.` for thousands separator. How would we know which to strip?

i.e. `1,000 EUR` is really `1 EUR` and `1.000 USD` is really `1 USD`.

My original question was: If we try

[2017-10-04 21:57] antstorm commented on #97
@yez I think so yes.

We can strip the thousands separator once we're sure about the currency. This is why the parser will first try to determine the target currency then use it's thousands separator or try to figure out (basically treating the last symbol as a decimal mark).

There's also a rule that the thousands separator should have a multiple of 3 digits after it before another sign. If there

[2017-10-29 22:43] imargonis opened #108 "Does not parse currency symbol after amount"
Monetize.parse seems to only look in front of the value and ignores anything after. It is common for EUR to be written after the value.
[code]

[2017-10-31 17:23] antstorm commented on #108
@imargonis that's a really good point, I'll have a look at solving it. You are also welcome to submit a PR if you have time

[2017-11-26 23:13] terencedignon opened #109 "Suggestion: Add idiomatic declarations"
It would be neat to be able to declare money values idiomatically, as you would with Rails time.
Some examples:
_100.dollar_
_1.dollar_
_50.cents_

[2017-11-30 17:13] antstorm commented on #109
It might be tricky to get all the units/subunits included. Also should not be enabled by default since it's pretty obtrusive.

[2018-01-11 20:19] terencedignon opened #110 "Fixnum deprecated Rails 5.1.4"
I get deprecation warnings from Monetize when testing in Rails 5.1.4.

`/Users/my_username/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/monetize-1.4.0/lib/monetize.rb:87: warning: constant ::Fixnum is deprecated`

[2018-01-11 20:25] terencedignon commented on #110
Never mind! I solved it by updating Monetize from 1.4 to 1.7.

[2018-01-11 20:25] #110 closed

[2018-01-30 23:56] macosgrove commented on #82
I came across this same issue when attempting to use Monetize to convert the subtotal of a credit line from a Recurly invoice into cents.

[code]

[2018-02-04 15:48] antstorm commented on #82
It might make sense to implement this, but hide behind an option, because it might be quite misleading to people who aren't accountants

[2018-02-18 22:15] BKDruby commented on #108
@antstorm How could I make PR?

I can't push my branch to repo.

[2018-02-22 21:12] antstorm commented on #108
@BKDruby sweet! You should be able to open a pull request on the `monetize` repo, comparing your fork's `master` with base `master`

[2018-05-22 14:50] snowblink commented on #105
@nathanaeljones does 1.8.0 fix this for you? #100 may have helped.

[2018-07-18 09:13] afdev82 opened #114 "Update required version of Money to 6.12"
I think we should update the required version of Money here:

https://github.com/RubyMoney/monetize/blob/f4d05d3d3cc53ebb7119c24be14c12a6bb9bb143/monetize.gemspec#L22

[2018-07-18 19:37] #114 closed

[2018-08-26 17:05] huoxito opened #118 "Possible regression in monetize 1.9.0 with Money#allocate"
This might be a Money gem issue but I couldn't isolate it using only money gem in example.

Solidus uses this heavily and we noticed a couple failures related to a bump from monetize 1.8.0 to 1.9.0. See https://github.com/solidusio/solidus/pull/2826 and https://github.com/nebulab/solidus/pull/15. The failing examples in solidus build checks if a given amount is split properly among a collection of

[2018-08-27 23:06] antstorm commented on #118
@huoxito thanks for raising this. While the change in behaviour was definitely introduced by a rewrite of the `Money#allocate`, it doesn't necessarily indicate a regression.

First of all, are you using `Money.infinite_precision`?

Second of all, you are relying on ruby's `Float`s that have limited precision and can't represent repeating decimals properly. The reason why `0.13333333333333333 + 0.2

[2018-08-28 02:51] huoxito commented on #118
hey @antstorm thanks! I'm not sure it's a regression either. Honestly I don't know much about numbers precision. Also I don't think solidus use `Money.infinite_precision`.

This is [the code](https://github.com/solidusio/solidus/blob/425240b84f670558aab61df2655be9a75e00dda0/core/app/models/spree/distributed_amounts_handler.rb#L39-L45) that raised the issue:

[code]

The amounts are BigDecimals but

[2018-08-29 10:28] antstorm commented on #118
@huoxito I'm not sure if I fully understand the business logic behind this operation, but it seems to me that you don't need to calculate weights yourself — you can let `Money#allocate` handle it for you.

The trick is that items in the array that you pass to `.allocate` call don't need for add up to `1`, the sum of these parts will be used as a reference to the whole amount. So you can do things

[2018-09-01 15:42] huoxito commented on #118
zomg :rofl: I didn't know that thanks a lot @antstorm I should have read docs more carefully. Appreciate it.

[2018-09-01 15:42] #118 closed

[2018-09-02 23:12] antstorm commented on #118
@huoxito no worries, hope that helped! 👍

[2018-10-18 10:52] mensfeld commented on #108
Any update on this one?

[2018-10-27 20:28] antstorm commented on #108
@mensfeld doesn't look like it. @BKDruby any news?

We might need to rethink how `monetize` does parsing, because there's a number of other issues with the current solution.

[2019-03-25 18:09] FunkyloverOne opened #122 "Junk strings end up being zero money"
`'not a number'.to_money` - results in zero money object, I believe it's a bug.
What do you think?

[2019-04-04 11:24] antstorm commented on #122
@FunkyloverOne hard to say. It definitely looks like a bug, but it's the way it is implemented. There's even a spec for it, look at the `it 'does not return a price for completely invalid input'`.

However I don't think that the parser should be as relaxed and should error when given anything that's even slightly off. I'm working on a strict parser that will do just that and if you wanna help out

[2019-04-04 12:43] FunkyloverOne commented on #122
@antstorm Sure, I guess I could help you on it. I'm also working on a bunch of Mongoid goodies for money-rails meanwhile, and will open a new PR there soon. :)

As for this parser, I think it would be cool if you open your [WIP] PR here and mention me there, so I will be aligned with your progress.

[2019-04-05 05:34] antstorm commented on #122
@FunkyloverOne sounds great, looking forward to those PRs. If you break them down into smaller chunks it will be easier for me to review 👍

I'll also wrap up my PR on the strict parser shortly and will tag you on it

[2019-07-05 12:56] FunkyloverOne opened #125 "[v1.9.1] Monetize.parse does not take into account rounding mode"
Here's an example with Banker's Rounding mode:
[code]

Perhaps it's already fixed on master.

[2019-07-06 10:22] antstorm commented on #125
Yes, here's the commit — https://github.com/RubyMoney/monetize/commit/e5700edbd353c3f9668db377b1c75d16de4216db

I'll release v1.9.2

[2019-07-06 10:25] #125 closed

[2019-07-15 10:44] prdanelli opened #126 "BigDecimal deprecation warnings"
Firstly, thank you for the gem, its amazing and helped us a lot on the project we're working on.

Are there any plans to update the gem for Ruby 2.6.x that has depreciated `BigDecimal.new` and use `BigDecimal()` instead?

[2019-07-18 21:51] antstorm commented on #126
Of course!

[2019-08-11 21:06] devonpmack opened #128 "CDN isn't recognized as Canadian Currency"
Was trying to parse prices from amazon in Canada and they use CDN instead of CAD as the identifier.

To reproduce:
`"CDN$ 5.00".to_money`
Result:
`Monetize::ParseError Exception: Unknown currency 'cdn'`

[2019-08-13 20:36] antstorm commented on #128
What is CDN? It's not listed as part of the ISO 4217. You can alway define your own currency with `Money::Currency.register`

[2019-10-11 04:30] #128 closed

[2019-10-11 04:30] devonpmack commented on #128
Thanks!

[2019-10-14 23:39] BKDruby opened #129 "wrong parsing when currency symbol after amount"
Monetize.parse('2,50€')
=> Money fractional:250 currency:USD

[2019-10-17 01:25] fvarnals commented on #129
Hi @BKDruby - you need to enable the ability to assume the currency from a passed symbol, by using:

```Monetize.assume_from_symbol = true```

before you run

```Monetize.parse('2,50€')```

Otherwise, currency symbols will be ignored, and USD used as the default currency:

[2019-10-17 01:35] fvarnals opened #130 "undefined method `default_currency' for Money:Class"
Hi there,

When I use the Gem in a REPL, it works fine, but when I try to run from RSpec, I keep getting the error:

```undefined method `default_currency' for Money:Class```

This happens when calling Monetize.parse

I'm using monetize version 1.9.2

[2019-11-26 22:38] antstorm commented on #130
@fvarnals hey, sorry for a long response. Are you still having this issue? How do you load the `monetize` gem? `Money.default_currency` should come from the `money` gem, which this gem depends on. If you're using bundler it should have resolved this dependency

[2019-11-26 23:57] antstorm commented on #129
@BKDruby good spot, I've opened a PR to fix it ^

[2019-11-27 00:53] #129 closed

[2020-01-06 05:55] ricobl opened #132 "Parsing Euro with iso code and assume_from_symbol returns ZAR"
After the `1.9.3` release, parsing any iso code ending with an `R` returns currency as ZAR when `assume_from_symbol` is on as demonstrated here:

[code]

https://github.com/RubyMoney/monetize/commit/8bfb079ef3664baee2d0fe62702d57e727b1c96f is the only code change in that release, so it has probably something to do with that regex. The last char on the iso code seems to be matching the symbol.

[2020-01-06 22:04] antstorm commented on #132
@ricobl thanks for noticing! The regexp used to detect a symbol that is at the beginning of a string or just after a sign. We probably need to restrict it to fix the issue you found… I'll have a look shortly

[2020-01-06 23:00] ricobl commented on #132
No worries @antstorm. Thanks for chasing this.

[2020-01-06 23:40] antstorm commented on #132
@ricobl opened a PR to fix the issue ^, hope I'm not missing any weird use-cases

[2020-01-07 00:11] ricobl commented on #132
Looks good, I made a review there. Thanks @antstorm.

[2020-01-07 10:13] #132 closed

[2020-01-07 10:18] antstorm commented on #132
The new version (1.9.4) should be out now. Thanks again for bringing this up 👍

[2020-01-07 10:48] ricobl commented on #132
Awesome, thanks for the quick release.

[2020-01-09 11:17] antstorm commented on #108
Should have been fixed by https://github.com/RubyMoney/monetize/pull/131, closing. Please feel free to re-open if there are still issues

[2020-01-09 11:17] #108 closed

[2020-02-05 16:02] georgewambold opened #135 "Error when parsing amount with comma and decimal"
Got an unexpected error when trying to parse a money string:

[code]
I'm using monetize 1.9.4 and ruby 2.7.0

EDIT: Messing around I quickly realized this is an issue with ruby 2.7, which the gem doesn't support!

[2020-02-05 16:06] #135 closed

[2020-03-20 17:24] antarr commented on #130
I'm having this issue when trying to use with `act_as_money`

[code]

[2020-03-26 20:34] antstorm commented on #130
@antarr is there anything specific about your setup? Can you please post a stack trace?

[2020-04-12 20:25] softwaregravy commented on #122
Also looking at this. Was there every a PR?

random example (at first I thought `nil?` was not working as expected). Switched to trying the example from the docs, which is working.

[code]

[2020-04-12 20:31] softwaregravy commented on #122
another

[code]

[2020-04-14 21:33] antstorm commented on #122
@softwaregravy thanks for pointing out 👍

I'm working on a new rewritten parser that should not have these issues — https://github.com/antstorm/monetize/tree/new-parser (last 2 commits)

[2020-06-08 14:18] andychongyz opened #139 "Problem parsing VND string with thousand delimiter"
Hi guys, I found this problem when parsing VND string. Is this a bug, or is meant to work like this?
`Monetize.parse("568,000 VND")` should be parsed into 56800000 cents but instead, parsed into 568 cents.

Current temporary solution:
[code]

[2020-06-14 21:47] antstorm commented on #139
It looks like the expected thousands separator for VND is `.`, which confuses the parser. I'm working on rewriting the parser which should allow to use localized values.

To solve this in the current version you can try re-registering the currency and swapping `thousands_separator` and `decimal_mark` places. Hope this helps

[2020-07-10 21:29] Drowze commented on #97
_few year later_

An update to this issue: the current behaviour is
[code]

[2020-07-11 10:50] antstorm commented on #97
@Drowze yeah, unfortunately the current parser gets too excited when it sees currency definition in the string and wants to apply its defaults straight away. From the looks of it there unfortunately isn't a simple workaround, apart from maybe re-registering those currencies (`Money.register`).

I am slowly working on a new parser (https://github.com/antstorm/monetize/blob/new-parser/lib/monetize/n

[2020-08-30 19:19] seankap07 opened #140 "Monetize our talent"

[2020-08-30 19:20] seankap07 opened #141 "Monetize"

[2020-08-31 08:38] #140 closed

[2020-08-31 08:38] #141 closed

[2021-01-18 11:25] mfazekas opened #145 ""1..13".to_money - ArgumentError (invalid value for BigDecimal) instead of Monetize::ParseError"
[code]

I'd expect `Monetize::ParseError` to be thrown (see #75)

[2021-01-18 23:15] #145 closed

[2021-02-08 15:57] trushkevich opened #148 "Deduce decimal mark when parsing a string with a number starting with 0"
Hi, I've just found a possibility to improve a bit parsing a string via `#to_money` (`Monetize.parse`)

here, take a look
[code]
I understand that it is impossible to make sure the behavior is 100% consistent across all possible cases as thousands separator still has to be supported and e.g. `1,500.to_money('LTC')` is much more likely `1500 LTC` than `1.5 LTC`. But I guess it is safe to assume tha

[2021-02-10 22:35] antstorm commented on #148
Brilliant, thank you for fixing this 👍

[2021-02-23 08:11] penghouho opened #149 "parse_collection will always return default_currency if the string contains symbol"
If the default_currency is configured, the Monetize.parse_collection won't return correct value with symbol (the currency is hardcoded to the default currency)

[code]

[2021-02-28 22:00] #69 closed

[2021-02-28 22:00] #82 closed

[2021-02-28 22:00] #91 closed

[2021-02-28 22:00] #93 closed

[2021-02-28 22:00] #97 closed

[2021-02-28 22:00] #105 closed

[2021-02-28 22:00] #109 closed

[2021-02-28 22:00] #122 closed

[2021-02-28 22:00] #126 closed

[2021-02-28 22:00] #130 closed

[2021-02-28 22:00] #139 closed

[2021-03-01 02:38] inopinatus commented on #82
@semmons99 was this closed because you don't agree that Monetize should correctly parse the accounting negative, or for some other reason?

[2021-03-01 12:24] semmons99 commented on #82
Since it was never opened as a PR and has not been commented on in 2 years, I closed it. Happy to accept a PR that understands this with an appropriate option to enable it.

[2021-03-02 19:06] semmons99 commented on #149
The symbol can be ambiguous—many currencies use $. Therefore, when an explicit `default_currency` is set, we override symbol parsing and use the `default_currency` unless an ISO currency is provided.

[2021-04-15 13:43] goalaleo opened #153 "Version 1.11.0 broke parsing for Malaysian ringgit when using the symbol 'RM'"
Malaysian ringgit, ISO code: MYR, symbol: RM.
The commit that broke our code is [this one](https://github.com/RubyMoney/monetize/commit/1deafa29fd5a656c01f3cf06ebf65ef6393044c9) which prioritises ISO code over a symbol. It makes the incorrect assumption that the first line only matches ISO codes:
https://github.com/RubyMoney/monetize/blob/a0680812444181cb8eb6b1d3a288b9dbe8934d24/lib/monetize/parse

[2021-04-16 01:06] semmons99 commented on #153
@antstorm I feel this is a regression and we should accept a PR, agree?

As for your side note. We do not have an officially supported way of adding symbols. I would suggest monkey patching the constant as you have done, knowing you will need to ensure it still works after each release. An alternative would be to submit a patch that adds it as an official feature.

[2021-12-14 14:44] caseyprovost opened #156 "Ruby 3 Rounding Issue"
Floats are now translated in interesting ways in Ruby 3. Take the following example:

[code]

What makes this more interesting is that not all numbers seem to be treated evenly.

[code]

I am not sure if this is a bug in Float in ruby proper but I have found we change how we convert floats to money by transitioning to a BigDecimal using `Float::DIG`...all our rounding issues went away on Ruby 3.

[2022-02-16 05:25] lenlo commented on #156
I can't reproduce this with Ruby 3.1:

[code]

Has this already been fixed or am I missing something?

[2022-02-23 08:52] nitsujri commented on #156
I'm on Ruby 3.0.1 and don't see this issue.

But I imagine it's tied to underlying CPU, and the way the packages are compiled.

[code]

[2022-05-23 14:58] dawidof opened #161 "Problem with default currency and symbol with parse!"
[code]

[2022-08-03 06:12] rgalanakis commented on #161
Also running into this.